body{
    padding: 0;
    margin: 0;
     background-image: radial-gradient(darkviolet,lavenderblush,teal);
     

} 

#col1{
     background-image:radial-gradient(deeppink,violet,rebeccapurple);
     color:whitesmoke;
    text-shadow: 10rem;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;


}

.col{
    display: grid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:bold;
    font-size: 3rem;
    animation:blinker 1s linear infinite;
 } 

 @keyframes blinker{
     100%{
         opacity: 0;
     }
 }